<section id="about" class="page-section section-red">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading wow pulse">À propos de Pépé Trattoria</h2>
                <hr class="ornament pale">
                <p class="lead">Une tradition qui dure depuis plus de 20 ans.</p>

                <p>Fondé en 1994, le restaurant Pépé est une véritable institution à Saint-Hyacinthe.  En juin 2015, le restaurant déménage en face du Centre des Arts Juliette-Lassonde et change de nom afin de devenir Pépé Trattoria.</p>
                <p>Dans un nouvel environnement des plus contemporains, l'ambiance et la fraîcheur qui ont fait de Pépé un endroit de prédilection restent inchangées.  En saison estivale, les deux terrasses, l'une urbaine et l'autre plus discrète, font de Pépé un lieu absolument prisé.</p>
                <p>L'atmosphère chaleureuse, la variété des produits et le soin apporté au service font partie de la tradition.  L'expérience Pépé est toujours là.</p>
            </div>
        </div>
    </div>
</section>
