<div id="address" class="page-section section-red">
    <div class="section-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-offset-1 col-sm-10 text-center">
                    <address>
                        <h3>Pépé Trattoria</h3>
                        <p>
                            405, Avenue Sainte-Anne<br>
                            Saint-Hyacinthe (Québec) J2S 5G3<br>
                            <i class="fa fa-phone fa-lg wow fadeInRight"></i>&nbsp;&nbsp;450 773-8004<br>
                            <hr class="ornament dark">
                            <i class="fa fa-envelope-o fa-lg wow fadeInRight"></i>&nbsp;&nbsp;<a href="mailto:info@pepetrattoria.com?Subject=Demande%20d%27information">Demande d'information</a>
                            &nbsp;&nbsp;|&nbsp;&nbsp;
                            <i class="fa fa-envelope-o fa-lg wow fadeInRight"></i>&nbsp;&nbsp;<a href="mailto:emploi@pepetrattoria.com?Subject=Postuler%20pour%20un%20poste">Postuler pour un poste</a>
                        </p>
                    </address>
                </div>
            </div>
        </div>
    </div>
</div>
