<footer id="footer" class="page-section section-red">
    <div class="section-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-offset-1 col-sm-10 text-center">
                    <hr class="ornament dark">
                    <p><small>&copy; 2016 Pépé Trattoria - Tous droits réservés |&nbsp;crédit&nbsp;:&nbsp;<a class="reverse" href="http://www.unidea.ca">Unidéa inc.</a></small></p>
                </div>
            </div>
        </div>
    </div>
</footer>
