<!-- CDN JavaScript Plugins -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FitText.js/1.2.0/jquery.fittext.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>

<!-- Bower JavaScript Components -->
<!-- <script src="/bower_components/jquery/dist/jquery.min.js"></script> -->
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
<script src="/bower_components/ekko-lightbox/dist/ekko-lightbox.min.js"></script>


<!-- Google Maps -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1Lf9ugitg4lZQKvbJnPaPQkD0LSNVTRM"></script>

<script src="/js/all.min.js"></script>
