<section id="gallery" class="page-section no-padding">
    <div class="container-fluid">
        <div id="gallery_content" class="row no-gutter">

            @@include('gallery-item.html', {
                "image-src": "pepe-trattoria-01.jpg",
                "category": "Pépé Trattoria",
                "project-name": "Vue à partir de l'accueil"
            })

            @@include('gallery-item.html', {
                "image-src": "pepe-trattoria-02.jpg",
                "category": "Pépé Trattoria",
                "project-name": "Vue vers l'arrière"
            })

            @@include('gallery-item.html', {
                "image-src": "pepe-trattoria-04.jpg",
                "category": "Pépé Trattoria",
                "project-name": "Le bar"
            })

            @@include('gallery-item.html', {
                "image-src": "pepe-trattoria-05.jpg",
                "category": "Pépé Trattoria",
                "project-name": "Vue vers le cellier"
            })

            @@include('gallery-item.html', {
                "image-src": "pepe-trattoria-06.jpg",
                "category": "Pépé Trattoria",
                "project-name": "À la jonction des banquettes"
            })

            @@include('gallery-item.html', {
                "image-src": "pepe-trattoria-07.jpg",
                "category": "Pépé Trattoria",
                "project-name": "Le mur des célébrités"
            })

        </div>
    </div>
</section>
