<nav id="main-navigation" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                <img src="/images/logo-navigation-360x150.png" alt="Pépé Trattoria">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#about">À propos</a>
                </li>
                <li>
                    <a class="page-scroll" href="#reservations">Réservations</a>
                </li>
                <li>
                    <a class="page-scroll" href="#menu">Menu</a>
                </li>
                <li>
                    <a class="page-scroll" href="#promotions">Promotions</a>
                </li>
                <li>
                    <a class="page-scroll" href="#gallery">Photos</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
