<section id="menu" class="page-section">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-sm-6 text-center">
                <div class="menu-box">
                    <i class="fa fa-3x fa-cutlery text-primary wow zoomIn" data-wow-delay=".0s"></i>
                    <h3 class="wow fadeInUp" data-wow-delay=".3s">Menu midi</h3>
                    <p class="lead">Chaque jour notre équipe de cuisine vous propose un nouveau menu, afin d'agrémenter vos dîners d'affaires.</p>
                    <p class="text-muted">Pépé est aussi une excellente destination pour vos sorties entre collègues, avec des <b>menus complets à partir de 11.95$ par personne</b>.</p>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <div class="menu-box">
                    <i class="fa fa-3x fa-university text-primary wow zoomIn" data-wow-delay=".1s"></i>
                    <h3 class="wow fadeInUp" data-wow-delay=".2s">Table d'hôte</h3>
                    <p class="lead">À chaque trois semaines, notre chef vous présente une table d'hôte renouvelée</p>
                    <p class="text-muted">Toujours adaptée aux <b>saisons et saveurs du moment</b>, celle-ci vous proposera quatre plats diversifiés, qui sauront satisfaire vos papilles et votre curiosité.  </p>
                </div>
            </div>
        </div>
        <div class="row no-gutter">
            <div class="col-sm-6 text-center">
                <div class="menu-box">
                    <i class="fa fa-3x fa-map-o text-primary wow zoomIn" data-wow-delay=".2s"></i>
                    <h3 class="wow fadeInUp" data-wow-delay=".1s">À la carte</h3>
                    <p class="lead">Un heureux mélange de classiques et de valeurs sûres</p>
                    <p class="text-muted">Avec ses <b>6 entrées et 24 plats principaux</b> à découvrir, le menu à la carte vous offre chaque soir la liberté de choisir ce qui vous plaît réellement.</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-file-pdf-o fa-lg wow fadeInRight"></i>&nbsp;&nbsp;<a href="/pdf/2016-05-03-menu-a-la-carte.pdf">Menu à la carte</a> (pdf)</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <div class="menu-box">
                    <i class="fa fa-3x fa-glass text-primary wow zoomIn" data-wow-delay=".3s"></i>
                    <h3 class="wow fadeInUp" data-wow-delay=".0s">Carte des vins</h3>
                    <p class="lead">Une carte qui regorge d'importation privée</p>
                    <p class="text-muted">Bien balancée, notre carte propose des <b>produits principalement d'Italie</b>, mais aussi d'ailleurs.  Que ce soit des vins de la SAQ ou d'importation privée, vous obtiendrez des produits de qualité à des prix compétitifs.</p>

                    <ul class="list-unstyled">
                          <li><i class="fa fa-file-pdf-o fa-lg wow fadeInRight"></i>&nbsp;&nbsp;<a href="/pdf/2016-06-28-carte-des-vins.pdf">Carte des vins</a> et <a href="/pdf/2016-06-28-carte-des-digestifs.pdf">digestifs</a> (pdf)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
