<div class="col-lg-4 col-sm-6">
    <a href="#" class="portfolio-box">
        <img src="images/portfolio/@@image-src" class="img-responsive" alt="">
        <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                    @@category
                </div>
                <div class="project-name">
                    @@project-name
                </div>
            </div>
        </div>
    </a>
</div>
