<section id="promotions" class="page-section no-padding">
      <div class="container-fluid">
          <div class="row no-gutter">
              <div class="col-sm-6 text-center">
                  <div class="promotion-box section-green" data-mh="promotion">
                        <h3 class="wow pulse">Promotion en cours</h3>
                        <hr class="ornament pale">
                        <div class="media text-left">
                            <div class="media-left">
                                <i class="fa fa-beer fa-3x wow fadeInRight" data-wow-delay=".2s"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Bière en fût</h4>
                                Chaque midi les bières en fût du Bilboquet, format 10oz, sont à 4.00$.  <small class="text-muted">Offre valide jusqu'au 31 octobre inclusivement.</small>
                            </div>
                        </div>
                        <div class="media text-left">
                            <div class="media-left">
                                <i class="fa fa-glass fa-3x wow fadeInRight" data-wow-delay=".4s"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Vin au verre</h4>
                                <b>Lorem Ipsum</b> est à 7$ le verre!  Venez découvrir ce superbe produit.  <small class="text-muted">Offre valide jusqu'au 30 septembre inclusivement.</small>
                            </div>
                        </div>

                  </div>
              </div>
              <div class="col-sm-6 text-center">
                  <div class="promotion-box section-yellow" data-mh="promotion">
                        <h3 class="wow pulse">Offres permanentes</h3>
                        <hr class="ornament dark">

                        <div class="media text-left">
                            <div class="media-left">
                                <i class="fa fa-ticket fa-3x wow fadeInRight" data-wow-delay=".3s"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Soirs de spectacle</h4>
                                Sur présentation de votre billet les soirs de spectacle, obtenez un <b>rabais de 10%</b> sur votre facture.  <small class="text-muted">Cette offre ne peut être jumelée à aucune autre offre, à l'exception du vin au verre.</small>
                            </div>
                        </div>
                        <div class="media text-left">
                            <div class="media-left">
                                <i class="fa fa-dollar fa-3x wow fadeInRight" data-wow-delay=".2s"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">SAQ +7$</h4>
                                Quelques vins de notre carte vous sont proposés au prix de la SAQ, plus 7$.
                            </div>
                        </div>

                  </div>
              </div>
          </div>
      </div>
  </section>
