<section id="reservations" class="page-section no-padding">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-sm-6 text-center">
                <div class="reservation-box section-yellow section-ornament section-ornament-dark" data-mh="reservation">
                    <h3 class="wow pulse">Réservez en ligne</h3>
                    <p>
                        Une façon simple de réserver<br>
                        pour vos dîners et soupers de 2 à 8 personnes.
                    </p>
                    <a class="btn btn-primary btn-xl wow bounceIn" href="https://www.bookenda.com/pepe?PartnerNumber=1&IdClientApplication=3405&IdServiceOccurence=0&Language=French" target="_blank">Accéder à Bookenda</a>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <div class="reservation-box section-brown section-ornament section-ornament-pale" data-mh="reservation">
                    <h3 class="wow pulse">Réservez pour un groupe</h3>
                    <p>
                        Pour vos groupes de <b>plus de 8 personnes</b><br>
                        et pour réserver la Verrière ou l'Espace Arte.</p>

                    <address>
                        <i class="fa fa-phone fa-lg wow fadeInRight"></i>&nbsp;&nbsp;450 773-8004<br>
                        <i class="fa fa-envelope-o fa-lg wow fadeInRight"></i>&nbsp;&nbsp;<a href="mailto:reservation@pepetrattoria.com?Subject=R%C3%A9servation%20de%20groupe">Réservations de groupe</a>
                    </address>
                </div>
            </div>
        </div>
    </div>
</section>
