<div class="col-sm-6 text-center">
    <div class="social-box section-yellow" data-mh="social-subscribe">
        <h2 class="wow pulse">Pépé sur les réseaux</h2>

        <hr class="ornament dark">

        <p>Pépé Trattoria est présent sur la toile.  Vous pouvez nous suivre sur Facebook, Twitter et Pinterest.  Notre restaurant est aussi répertorié auprès de Foursquare, Yelp et Tripadvisor.  N'hésitez pas à parler de nous!</p>

        <div class="row">
            
            @@include('social-item.html', {
                "name": "Facebook",
                "icon": "fa-facebook",
                "url": "https://www.facebook.com/resto.pepe/"
            })

            @@include('social-item.html', {
                "name": "Twitter",
                "icon": "fa-twitter",
                "url": "https://twitter.com/pepe_trattoria"
            })

            @@include('social-item.html', {
                "name": "Pinterest",
                "icon": "fa-pinterest",
                "url": "https://www.pinterest.com/pepetrattoria/"
            })

            @@include('social-item.html', {
                "name": "Foursquare",
                "icon": "fa-foursquare",
                "url": "https://foursquare.com/v/p%C3%A9p%C3%A9-trattoria/4d83e3b2f9f3a1cdb068aa64"
            })

            @@include('social-item.html', {
                "name": "Yelp",
                "icon": "fa-yelp",
                "url": "https://www.yelp.ca/biz/p%C3%A9p%C3%A9-trattoria-saint-hyacinthe"
            })

            @@include('social-item.html', {
                "name": "Tripadvisor",
                "icon": "fa-tripadvisor",
                "url": "https://fr.tripadvisor.ca/Restaurant_Review-g499368-d980448-Reviews-Restaurant_Pepe-Saint_Hyacinthe_Quebec.html"
            })
        </div>
    </div>
</div>
