<div class="col-sm-6">
    <div class="subscribe-box section-white" data-mh="social-subscribe">

        <h2 class="text-center wow pulse">Restons en contact!</h2>
        <hr class="ornament pale">

        <p class="text-center">En vous abonnant à notre liste de distribution, vous resterez toujours les premiers avisés.</p>
        <p class="lead text-center"><span class="label label-warning">Les envois ne débuteront pas avant l'automne 2016.</span></p>

        <form id="subForm" action="http://campaign.unidea.ca/t/r/s/krbkrr/" role="form" method="post">
            <input type="hidden" name="cm-fo-tywkrjk" value="8141319">

            <div class="form-group float-label-control">
                <label for="fieldtygilm">Prénom</label>
                <input id="fieldtygilm" type="text" class="form-control" name="cm-f-tygilm" placeholder="Prénom" required>
            </div>

            <div class="form-group float-label-control">
                <label for="fieldtygilv">Nom de famille</label>
                <input id="fieldtygilv" type="text" class="form-control" name="cm-f-tygilv" placeholder="Nom de famille" required>
            </div>

            <div class="form-group">
                <label for="fieldEmail">Adresse de courriel</label>
                <input id="fieldEmail" type="email" class="form-control" name="cm-krbkrr-krbkrr" placeholder="prenom.nom@domaine.com" required>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label>Votre sexe</label>
                        <div class="radio">
                            <label class="radio-inline"><input type="radio" name="cm-fo-tygiyv" value="8141221" checked> Homme</label>
                            <label class="radio-inline"><input type="radio" name="cm-fo-tygiyv" value="8141222"> Femme</label>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label>Vos intérêts</label>
                        <div class="checkbox">
                            <label>
                                <input id="fieldtjhhdktk-0" name="cm-fo-tjhhdktk" value="8178732" type="checkbox" checked>
                                <small>Nouvelle promotion</small>&nbsp;
                            </label>
                            <label>
                                <input id="fieldtjhhdktk-1" name="cm-fo-tjhhdktk" value="8178733" type="checkbox" checked>
                                <small>Menu midi par courriel</small>&nbsp;
                            </label>
                        </div>
                    </div>

                </div>
            </div>

            <p>&nbsp;</p>

            <div class="text-center">
                <button action="submit" class="btn btn-primary btn-xl wow pulse">Envoyer</button>
            </div>

        </form>
    </div>
</div>
