//
// Colors
// -----------------------------------------------------------------------------
//

$gray-base: #111 !default;
$gray-darker: lighten($gray-base, 13.5%) !default;
$gray-dark : #85794d;
$gray: #608d4e;
$gray-light: #95a65b;
$gray-lighter : #abc147;

$brand-primary: #26ada1 !default;
$brand-success: #5cb85c !default;
$brand-info: #5bc0de !default;
$brand-warning: #f0ad4e !default;
$brand-danger: #d9534f !default;


//
// Scaffolding
// -----------------------------------------------------------------------------
//

//$body-bg: #ced9bc !default;
$body-bg: #fff !default;
$text-color: $gray-dark !default;
$link-color: $brand-primary !default;


//
// Typography
// -----------------------------------------------------------------------------
//

$font-family-sans-serif: "Open Sans", sans-serif !default;

$headings-font-family: "Ubuntu", sans-serif !default;
$headings-font-weight: 300 !default;

//
// Components
// -----------------------------------------------------------------------------
//

$border-radius-base: 2px !default;
$border-radius-large: 3px !default;
$border-radius-small: 1px !default;


//
// Buttons
// -----------------------------------------------------------------------------
//

$btn-border-radius-base: 10px !default;
$btn-border-radius-large: 20px !default;
$btn-border-radius-small: 5px !default;


//
// Forms
// -----------------------------------------------------------------------------
//

$input-border-focus: #66afe9 !default;
$input-color-placeholder: #999 !default;


//
// Grid System
// -----------------------------------------------------------------------------
//

$grid-gutter-width: 40px !default;


//
// Type
// -----------------------------------------------------------------------------
//

$hr-border: darken($body-bg, 25%) !default;
