//
// Fonts
// -----------------------------------------------------------------------------
//

@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800,300italic,400italic,600itali,700italic,800italic&subset=latin,latin-ext);


//
// Custom variables and mixins
// -----------------------------------------------------------------------------
//

@import 'variables';
@import 'functions';
@import 'mixins';


//
// Imports
// -----------------------------------------------------------------------------
//

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap.scss";


//
// Global styles
// -----------------------------------------------------------------------------
//


hgroup {
    margin: 20px 0;

    #{headings(1,6)} {
        margin: 0;
        line-height: 1.0em;
    }
}

@media(min-width: $screen-sm-min) {
    hgroup {
        margin: 40px 0;
    }
}
