//
// Custom variables and mixins
// -----------------------------------------------------------------------------
//

@import 'variables';
@import 'functions';
@import 'mixins';


//
// Imports
// -----------------------------------------------------------------------------
//

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap.scss";
@import "navigation";
@import "font-awesome-fix";


//
// Global styles
// -----------------------------------------------------------------------------
//

html,
body {
  height: 100%;
  width: 100%;
  background:url('../images/pattern.png') fixed repeat top left / 240px 240px;
}

h1, h2, h3 {
  font-family: "Rouge Script", sans-serif !important;
}

hr.ornament {

  width: 33%;
  min-width: 180px;
  border-width: 1px;
  margin: 20px auto 30px auto !important;

  &:after {
    content: "";
    display: block;
    width: auto;
    height: 20px; /* height of the ornament */
    position: relative;
    top: -10px; /* half the height of the ornament */
  }
  &.dark {
    border-color: $theme-brown;
    &:after {
      background: url('../images/ornament-hr-dark.png') no-repeat top center / 150px 20px;
    }
  }
  &.pale {
    border-color: $theme-yellow;
    &:after {
      background: url('../images/ornament-hr-pale.png') no-repeat top center / 150px 20px;
    }
  }
}

a {
  @include transition();

  color: $theme-red;

  &:hover,
  &:focus {
    color: $theme-blue;
    text-decoration: none !important;
  }
}

//
// Page Section
// -----------------------------------------------------------------------------
//

.page-section {
  @include relative-box();
  padding: 70px 0;

  &.first-section {
    padding-top: 160px;
  }

  &.no-padding {
    padding: 0 !important;
  }

  .section-heading {
    margin-top: 0;
  }

}

//
// Sections
// -----------------------------------------------------------------------------
//

.section {

  &-ornament {
    @include relative-box();
    padding: 100px 0;
    background-position: center 15px, center bottom;
    background-size: 250px auto;
    background-repeat: no-repeat;
  }

  &-ornament-dark {
    background-image: url('../images/ornament-top-dark.png'), url('../images/ornament-bottom-dark.png');
  }

  &-ornament-pale {
    background-image: url('../images/ornament-top-pale.png'), url('../images/ornament-bottom-pale.png');
  }

  &-red {
    color: $theme-yellow;
    background-color: $theme-red;
    a {
      color: $theme-brown;
      &:hover { color: $theme-yellow; }
    }
  }

  &-green {
    color: $theme-white;
    background-color: $theme-green;
    a {
      color: $theme-brown;
      &:hover { color: $theme-yellow; }
    }
  }

  &-yellow {
    color: $theme-brown;
    background-color: $theme-yellow;
    a {
      color: $theme-green;
      &:hover { color: $theme-red; }
    }
  }

  &-brown {
    color: $theme-white;
    background-color: $theme-brown;
    a {
      color: $theme-yellow;
      &:hover { color: $theme-green; }
    }
  }

  &-white {
    color: $theme-green;
    background-color: $theme-white;
    a {
      color: $theme-red;
      &:hover { color: $theme-brown; }
    }
  }
}


//
// Homepage Header
// -----------------------------------------------------------------------------
//

header {
  position: relative;
  width: 100%;
  min-height: auto;
  @include background-cover;
  background-position: center;
  background-image: url('../images/gallery/pepe-trattoria-03.jpg');

  .header-content {
    @include relative-box();

    padding: 100px 15px 100px;
    width: 100%;

    .header-content-inner {
      text-align: center;

      h1 {
        font-size: 50px;
        margin: 0 auto;

        //color: #49773B; //#F2E999;

        text-shadow: 0px 3px 3px #000;
      }
    }
  }

  @media (min-width: $screen-sm-min) {
    min-height: 100%;

    .header-content {
      @include transform( translateY(-50%) );
      position: absolute;
      top: 50%;
      padding: 0 50px;

      .header-content-inner {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;

        h1 {
          font-size: 80px;
        }
      }
    }
  }
}


//
// Reservation
// -----------------------------------------------------------------------------
//

.reservation-box {
  @include relative-box();
  padding: 100px 30px;

  a.btn {
    color: $theme-white;
  }
}

//
// Promotion
// -----------------------------------------------------------------------------
//

.promotion-box {
  @include relative-box();
  padding: 75px 30px;

  .media-left {
    min-width: 100px;
    text-align: center;
  }

}


//
// Subscribe
// -----------------------------------------------------------------------------
//

.subscribe-box {
  @include relative-box();
  padding: 75px 30px;
}

//
// Social
// -----------------------------------------------------------------------------
//

.social-box {
  @include relative-box();
  padding: 75px 30px;
}

.social-item {
  min-height: 130px;
}



//
// Menu
// -----------------------------------------------------------------------------
//

.menu-box {
  @include relative-box();
  padding: 15px 30px;
}


//
// Gallery
// -----------------------------------------------------------------------------
//

.gallery-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;

  .gallery-box-caption {
    color: white;
    opacity: 0;
    display: block;
    background: rgba($theme-red, 90%);
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 100%;

    @include transition();

    .gallery-box-caption-content {
      width: 100%;
      text-align: center;
      position: absolute;
      top: 50%;

      @include transform( translateY(-50%) );

      .gallery-category,
      .gallery-name {
        font: $font-family-sans-serif;
        padding: 0 15px;
      }
      .gallery-category {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
      }
      .gallery-name {
        font-size: 18px;
      }
    }
  }
  &:hover {
    .gallery-box-caption {
      opacity: 1;
    }
  }

  @media (min-width: 768px) {
    .gallery-box-caption {
      .gallery-box-caption-content {
        .project-category {
          font-size: 16px;
        }
        .project-name {
          font-size: 22px;
        }
      }
    }
  }
}


//
// MAP
// -----------------------------------------------------------------------------
//

#map {
  @include relative-box();
  @include size(100%, 400px);
  background: $theme-white;
}


//
// Bootstrap Overrides
// -----------------------------------------------------------------------------
//

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

// Button Styles
.btn-default {
  @include button-variant($theme-brown, white, white);
}

.btn-primary {
  @include button-variant(white, $theme-red, $theme-red);
}

.btn {
  font: $font-family-sans-serif;

  border: none;
  border-radius: 300px;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-xl {
  padding: 15px 30px;
}
